<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comicviewer.cedric.comicviewer" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:maxRecents="4"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ViewPagerFiles.DisplayComicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.cbr" />
                <data android:pathPattern=".*\\.cbz" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawerActivity"
            android:theme="@style/NavigationDrawerTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AdBuddiz -->
        <activity
            android:name="com.purplebrain.adbuddiz.sdk.AdBuddizActivity"
            android:theme="@android:style/Theme.Translucent" />
        <!-- end AdBuddiz -->


        <!-- AdMob -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <!-- end AdMob -->

        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="@string/db_scheme" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CloudFiles.DropboxActivity"
            android:label="@string/title_activity_cloud_browser" >
        </activity>
        <activity
            android:name=".CloudFiles.OneDriveActivity"
            android:label="@string/title_activity_cloud_browser" >
        </activity>

        <service
            android:name=".CloudFiles.DownloadFileService"
            android:exported="false" >
        </service>

        <activity
            android:name=".Info.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>

        <service
            android:name=".MuzeiService"
            android:description="@string/muzei_description"
            android:icon="@drawable/muzei_source"
            android:label="@string/muzei_source" >
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>

            <meta-data
                android:name="color"
                android:value="#009688" />
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.comicviewer.free.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".CloudFiles.GoogleDriveActivity"
            android:label="@string/title_activity_google_drive" >
        </activity>
    </application>

</manifest>
